################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCode/.vs
/LeetCode/bin/Debug/net9.0
/LeetCode/obj
